<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="User" type="po.User"/>
        <typeAlias alias="AppointmentType" type="po.AppointmentType"/>
        <typeAlias alias="Appointment" type="po.Appointment"/>
        <typeAlias alias="Keeper" type="po.Keeper"/>
    </typeAliases>
    <mappers>
        <!-- 告诉MyBatis到哪里去找映射文件 -->
        <mapper resource="mybatis/UserMapper.xml" />
        <mapper resource="mybatis/IndexMapper.xml"/>
        <mapper resource="mybatis/AppointMapper.xml"/>
    </mappers>
</configuration>