<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="User" type="po.User"/>
<!--        <typeAlias alias="Goods" type="po.Goods"/>-->
<!--        <typeAlias alias="GoodsType" type="po.GoodsType"/>-->
<!--        <typeAlias alias="Notice" type="po.Notice"/>-->
<!--        <typeAlias alias="Buser" type="po.Buser"/>-->
<!--        <typeAlias alias="Order" type="po.Order"/>-->
    </typeAliases>
    <mappers>
        <!-- 告诉MyBatis到哪里去找映射文件 -->
        <mapper resource="mybatis/UserMapper.xml" />
    </mappers>
</configuration>