<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.AppointmentDao">
    <insert id="build" parameterType="Appointment">
        insert into appointment values (null, #{typeid}, #{title}, #{createtime}, #{appointedtime}, #{num}, 0, #{place}, #{content})
    </insert>
    <select id="selectAppointment" resultType="Appointment">
        select * from appointment where 1 = 1
        <if test="typeid != 0">
            and typeid = #{typeid}
        </if>
        order by unix_timestamp(createtime) desc
    </select>
    <select id="selectAppointmentByTitle" parameterType="String" resultType="Appointment">
        select * from appointment where title like '%'#{msg}'%'
    </select>
    <insert id="joinAppointment" parameterType="Keeper">
        insert into keeper values (#{uid}, #{aid}, #{state})
    </insert>
    <update id="addNum" parameterType="int">
        update appointment set hadnum = hadnum + 1 where aid = #{aid}
    </update>
</mapper>