<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.AppointmentDao">
    <insert id="build" parameterType="Appointment">
        insert into appointment values (null, #{typeid}, #{title}, #{createtime}, #{appointedtime}, #{num}, null, #{place}, #{content})
    </insert>
    <select id="selectAppointment" resultType="Appointment">
        select * from appointment order by unix_timestamp(createtime) desc
    </select>
    <select id="selectAppointmentByType" parameterType="Integer" resultType="Appointment">
        select * from appointment where typeid = #{typeid}
    </select>
    <select id="selectAppointmentByTitle" parameterType="String" resultType="Appointment">
        select * from appointment where title like '%'#{msg}'%'
    </select>
    <insert id="joinAppointment" parameterType="Keeper">
        insert into keeper values (#{uid}, #{aid}, #{state})
    </insert>
</mapper>