<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- dao.IndexDao对应Dao接口 -->
<mapper namespace="dao.IndexDao">
    <!-- 查询约定类型信息 -->
    <select id="selectAppointmentType"  resultType="AppointmentType" >
		select * from appointmenttype
	</select>
</mapper>